table {
    width: 100%;
}

.mat-column-order , .mat-column-status {
  width: 10%;
  font-size: 16px;
  color: white;
}

.mat-column-projecthead{
  width: 15%;
  font-size: 16px;
  color: white;
}

mat-header-cell{
  font-style: oblique;
}

.mat-column-projectname , .mat-column-department{
  font-size: 16px;
  color: white;
}

mat-form-field.mat-form-field {
  font-size: 16px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  background-color: white;
}

.black{
  color: black;
}

.example-header-image {
  background-image: url('https://www.img.in.th/images/64416dc1bf7f5405e96f0c41e48ec988.png');
  background-size:     contain;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  width: 50px;
  height: 50px;
}