.example-card {
    max-width: 400px;
    margin: 0;
    position: absolute;
    background-color: gray;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

body{
    background-color: lightgrey;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-label{
      color: black;
  }