<div align="center">
<mat-label>รายละเอียดงบประมาณโครงการ</mat-label><br>
    <form class="example-form">
<mat-form-field appearance="fill">
      <mat-label>กิจกรรมที่ดำเนินการ</mat-label>
      <textarea
        matInput
        [(ngModel)]="data.activity"
        name="activity"
        required
        rows="10"
      ></textarea>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>รายละเอียดกิจกรรม</mat-label>
    <textarea
      matInput
      [(ngModel)]="data.description"
      name="description"
      required
      rows="10"
    ></textarea>
</mat-form-field>
</form>

  <button mat-raised-button (click)="close()" name="close" color="secondary">ปิด</button>

  <button mat-raised-button (click)="save()" name="save" color="primary">บันทึก</button>
</div>

